 <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/clothes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <title>Luvvy store</title>
  </head>
  <body>
    <header>
    <nav>
        <div class="wrapper">
          <div class="logo"><a href="#">LUVVI</a></div>
          <input type="radio" name="slider" id="menu-btn">
          <input type="radio" name="slider" id="close-btn">
          <ul class="nav-links">
            <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
            <li><a href="/">Home</a></li>
            {{#if user}}
            <li>
              <a href="#" class="desktop-item">More</a>
              <input type="checkbox" id="showMega">
              <label for="showMega" class="mobile-item">Mega Menu</label>
              <div class="mega-box">
                <div class="content">
                  <div class="row">
                    <header>Design Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Graphics</a></li>
                      <li><a href="#">Vectors</a></li>
                      <li><a href="#">Business cards</a></li>
                      <li><a href="#">Custom logo</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Email Services</header>
                    <ul class="mega-links">
                      <li><a href="#">Personal Email</a></li>
                      <li><a href="#">Business Email</a></li>
                      <li><a href="#">Mobile Email</a></li>
                      <li><a href="#">Web Marketing</a></li>
                    </ul>
                  </div>
                  <div class="row">
                    <header>Security services</header>
                    <ul class="mega-links">
                      <li><a href="#">Site Seal</a></li>
                      <li><a href="#">VPS Hosting</a></li>
                      <li><a href="#">Privacy Seal</a></li>
                      <li><a href="#">Website design</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </li>
            <li class="cart">
              <a href="/cart">
               Cart <span>0</span>
              </a>
            </li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
          </ul>
          <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
        </div>
      </nav>
</header>
<div class="row" id="row">
    <div class=" col-lg-8 mx-auto d-flex justify-content-around my-2 sortBtn flex-wrap">
      <a href="#dresses" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="dresses">Dresses</a>
      <a href="#blouse" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="blouse">Blouse</a>
      <a href="#shoes" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="shoes">Shoes</a>
      <a href="#trousers" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="trousers">Trousers</a>
      <a href="#jew" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="jew">Jewerly</a>
      <a href="#accessories" class="btn btn-outline-secondary btn-black text-uppercase filter-btn m-2" data-filter="accessories">Accessories</a>
    </div>
  </div>
  <section class="ftco-section bg-light">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
  <div class="product">
    <a href="#" class="img-prod"><img id="dresses" class="img-fluid" src="img/dress1.webp" alt="Colorlib Template">
    </a>
    <div class="text py-3 px-3">
      <h3><a href="#">Платье миди с рукавами из фатина</a></h3>
      <div class="d-flex">
        <div class="pricing">
          <p class="price"><span class="mr-2 price-dc shop-item-price">$21450</span></p>
        </div>
      </div>
      <hr>
      <p class="bottom-area d-flex">
        <a href="javascript:return false;" class="add-to-cart cart1"><span>Add to cart</span></a>
      </p>
    </div>
  </div>
</div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/dress5.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Миди-платье в горошек с рукавами</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span class="shop-item-price">$30950</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart2"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/dress6.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Платье миди разрезом на юбке</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span class="shop-item-price">$24012</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart3"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/dress8.webp" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Мини-платье с объемными рукавами</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>$19450</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart4"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img id="blouse" class="img-fluid" src="img/blouse1.webp" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3 id="dresses"><a href="blouse1.html">Button-up blouse</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span class="mr-2 price-dc">15 950 tng.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart5"><span>Add to cart</span></a>
                  <input type="hidden" value="15950">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse2.webp" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Блуза на пуговицах</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>15 950 tng.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart6"><span>Add to cart</span></a>
                  <input type="hidden" value="15950">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse3.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Атласная блузка</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>12 450 тнг.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart7"><span>Add to cart </span></a>
                  <input type="hidden" value="12450">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse4.jpg" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#" >Блузка в стиле корсета</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>16 450 тнг.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart8"><span>Add to cart</span></a>
                  <input type="hidden" value="16450">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse5.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Блуза объемными рукавами</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>25 900 тнг </span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart9"><span>Add to cart</span></a>
                  <input type="hidden" value="25900">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse6.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Пышная рубашка на плече</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>8 450 тнг</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart10"><span>Add to cart</span></a>
                  <input type="hidden" value="8450">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse7.webp" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Блузка в горошек с рукавами</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>17 950 тнг</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart11"><span>Add to cart</span></a>
                  <input type="hidden" value="17950">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/blouse8.webp" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Блузка</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>9 450 тнг</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart12"><span>Add to cart</span></a>
                  <input type="hidden" value="9450">
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img id="shoes" class="img-fluid" src="img/shoes1.jpg" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Туфли на блочном каблуке в бежевом цвете</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span class="mr-2 price-dc">17 950 tng.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart13"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/shoes2.jpg" alt="Colorlib Template">
              </a>
              <div class="text py-3 px-3">
                <h3><a href="#">Туфли на блочном каблуке в черном цвете</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>17 950 тнг.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart14"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img\shoes3.jpg" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Туфли на высоком каблуке в черном цвете</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>10 450 тнг.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart15"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm col-md-6 col-lg-3 ftco-animate">
            <div class="product">
              <a href="#" class="img-prod"><img class="img-fluid" src="img/shoes4.jpg" alt="Colorlib Template"></a>
              <div class="text py-3 px-3">
                <h3><a href="#">Шлепанцы на блочном каблуке в бежевом цвете</a></h3>
                <div class="d-flex">
                  <div class="pricing">
                    <p class="price"><span>7 450 тнг.</span></p>
                  </div>
                </div>
                <hr>
                <p class="bottom-area d-flex">
                  <a href="javascript:return false;" class="add-to-cart cart16"><span>Add to cart</span></a>
                </p>
              </div>
            </div>
        </div>
        <div class="col-sm col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <a href="#" class="img-prod"><img id="trousers" class="img-fluid" src="img/trousers6.jpg" alt="Colorlib Template"></a>
            <div class="text py-3 px-3">
              <h3><a href="#">Спортивные шорты</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>8 450 тнг</span></p>
                </div>
              </div>
              <hr>
              <p class="bottom-area d-flex">
                <a href="javascript:return false;" class="add-to-cart cart17"><span>Add to cart</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="img/trousers7.jpg" alt="Colorlib Template"></a>
            <div class="text py-3 px-3">
              <h3><a href="#">Брюки c поясом</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>14 950 тнг</span></p>
                </div>
              </div>
              <hr>
              <p class="bottom-area d-flex">
                <a href="javascript:return false;" class="add-to-cart cart18"><span>Add to cart</span></a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm col-md-6 col-lg-3 ftco-animate">
          <div class="product">
            <a href="#" class="img-prod"><img class="img-fluid" src="img/trousers8.jpg" alt="Colorlib Template">
            </a>
            <div class="text py-3 px-3">
              <h3><a href="#">Брюки-палаццо</a></h3>
              <div class="d-flex">
                <div class="pricing">
                  <p class="price"><span>9 450 тнг</span></p>
                </div>
              </div>
              <hr>
              <p class="bottom-area d-flex">
                <a href="javascript:return false;" class="add-to-cart cart19"><span>Add to cart</span></a>
              </p>
            </div>
          </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img id="jew" class="img-fluid" src="img/jew1.jpg" alt="Colorlib Template">
          </a>
          <div class="text py-3 px-3">
            <h3><a href="#">Цепочка с сердечками</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">11 950 tng.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart20"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/jew2.jpg" alt="Colorlib Template">
          </a>
          <div class="text py-3 px-3">
            <h3><a href="#">Цепочка с надписями</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>15 950 tng.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart21"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img\photo_2021-05-04_14-55-15.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Кулон</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>8 450 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart22"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/jew4.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Тройная цепочка</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>13 450 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart23"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img id="accessories" class="img-fluid" src="img/obodok2.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Oбодки для волос</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>1 450 тнг</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart24"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/bag1.jpg" alt="Colorlib Template">
          </a>
          <div class="text py-3 px-3">
            <h3><a href="#">Сумка на плечо</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span class="mr-2 price-dc">9 950 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart25"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/bag2.jpg" alt="Colorlib Template">
          </a>
          <div class="text py-3 px-3">
            <h3><a href="#">Сумка на плечо</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>5 950 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart26"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/bag3.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Сумка на плечо</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>9 450 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart27"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/bag4.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Сумка с цепочкой</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>7 450 тнг.</span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart28"><span>Add to cart</span></a>
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm col-md-6 col-lg-3 ftco-animate">
        <div class="product">
          <a href="#" class="img-prod"><img class="img-fluid" src="img/obodok1.jpg" alt="Colorlib Template"></a>
          <div class="text py-3 px-3">
            <h3><a href="#">Ободки для волос</a></h3>
            <div class="d-flex">
              <div class="pricing">
                <p class="price"><span>1 900 тнг </span></p>
              </div>
            </div>
            <hr>
            <p class="bottom-area d-flex">
              <a href="javascript:return false;" class="add-to-cart cart29"><span>Add to cart</span></a>
                  <input type="hidden" value="1900">
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

    </section>
<div class="footer-dark">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Follow us</h3>
                            <ul>
                                <li><a href="https://www.instagram.com/aruskembaeva/">Aruzhan's accaunt</a></li>
                                <li><a href="https://www.instagram.com/nazzeyaa/">Naziyaa's accaunt</a></li>
                                <li><a href="https://www.instagram.com/symbat.konys/">Symbat's accaunt</a></li>
                                <li><a href="https://www.instagram.com/astana_it_university/?hl=ru">University's accaunt</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <h3>Help us</h3>
                            <ul>
                                <li><a href="about.html">About</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="register.html">Log in</a></li>
                                <li><a href="main.html">Home</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 item text">
                            <h3>About us</h3>
                            <p>We are students from Astana IT University, and it is out web site for the coding lab course(it will improve)</p>
                        </div>
                    </div>
                    <p class="copyright">Luvvy store :copyright: 2021</p>
                </div>
            </footer>
        </div>
        <script src="main.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
  </body>
</html>
